<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Estilo.css') }}">
    
   
    <title>Estudiantes - {% block title %} {% endblock %}</title>
</head>

<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="font-size: 30px; color:white; background:red "> 
                {{ message }}
            </li>

        {% endfor %}
        </ul>

    {% endif %}
{% endwith %}
{% block contenido %}
 
{% endblock %}
</body>

<script src="{{ url_for('static', filename = 'js/funciones.js' ) }}"></script>

</html>